
#NameResolve {
  max-width: 700px;
  margin-right: auto;
  margin-left: auto;
  #NameResolveForm {
    display: grid;
    grid-template-columns: minmax(7rem, 10rem) minmax(15rem, 20rem) 8rem;
    gap: 0.2rem 1rem;
    label {
      grid-column: 1 / 2;
      grid-row: 1 / 2;
    }
    input {
      grid-column: 1 / 3;
      grid-row: 2 / 3;
    }
    Button {
      grid-column: 3 / 4;
      grid-row: 2 / 3;
    }
    small {
      grid-column: 1 / 4;
      grid-row: 3 / 4;;
    }
  }
  div[role="alert"] {
    margin-top: 1.5rem;
    p {
      margin: 0;
      padding: 0;
      display: flex;
      align-items: center;
    }
  }
  div.alert-info {
    display: flex;
    div {
      display: flex;
      align-items: center;
      margin-right: 1rem;
    }
  }
}
